@import url("components/container.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");


body {

  font-family: serif;
  font-size: 18px;
  margin: 0px;
  background: #314D71;
}
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 23px ;
}
a{
  text-decoration: none;
   color: white;
   font-family: Roboto;
}

h4 {
  color: #83672F
}

a:hover{
  color: #A00C16;
}

h1{
  color: #83672F;
}

h2{
  color: white;


}

h2{
  font-weight: 700;
}

h3{
  color: white;
  font-weight: 300;
}

h4{
  font-family: serif ;
  font-weight: 10;
  font-size: #83672F;
}
